<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>WHISK Order</title>
  <style>
    body {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1em;
    }
    th,
    td {
      padding: 3px;
    }
    th {
      border-top: 1px #E0E0E0 solid;
      border-bottom: 1px #E0E0E0 solid;
    }
    .orderform {
      border-collapse: collapse;
    }
    .quantity,
    .price,
    .linetotal {
      width: 8em;
      text-align: right;
    }
    .item {
      text-align: left;
    }
    .subtotal {
      text-align: right;
    }
    .bordertop {
      border-top: 1px #E0E0E0 solid;
    }
    .total {
      text-align: right;
      border: 0px;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <p>Thanks for stopping by at WHISK.se!  We have your order and your treats are on their way.</p>

  <table class="orderform">
    <thead>
      <tr>
        <th class="item">ITEM</th>
        <th class="quantity">QUANTITY</th>
        <th class="price">PRICE</th>
        <th class="linetotal">SUB-TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < order.items.length; i += 1) {
        const product = order.items[i];
        %><tr>
          <td class="item">
            <a href="<%=storeUrl %>/product/<%=product.productId %>">
              <%=product.name %>
            </a>
            <div>
              <%=capitaliseFirst(product.deliveryType) %> // <%=parseDateCode(product.deliveryDate).range %>
            </div>
          </td>
          <td class="quantity"><%=product.quantity %></td>
          <td class="price"><%=priceFormat(product.grossPrice) %></td>
          <td class="linetotal"><%=priceFormat(product.grossPrice * product.quantity) %></td>
        </tr><%
      } %>
      <% for (let i = 0; i < order.delivery.length; i += 1) {
        const delivery = order.delivery[i];
        %><tr>
          <td class="item">Delivery (<%=parseDateCode(delivery.date).dateLong %>)</td>
          <td class="quantity">1</td>
          <td class="price"><%=priceFormat(delivery.totalPrice) %></td>
          <td class="linetotal"><%=priceFormat(delivery.totalPrice) %></td>
        </tr><%
      } %>
      <% if (order.bottomLine.totalDelivery > 0) { %><tr>
        <td class="subtotal" colspan="3">DELIVERY</td>
        <td class="subtotal"><%=priceFormat(order.bottomLine.totalDelivery) %></td>
      </tr><% } %>
      <tr>
        <td class="subtotal" colspan="3">MOMs</td>
        <td class="subtotal"><%=priceFormat(order.bottomLine.totalMoms, { includeOre: true }) %></td>
      </tr>
      <tr>
        <td class="total" colspan="3">Total</td>
        <td class="total"><%=priceFormat(order.bottomLine.totalPrice) %></td>
      </tr>
    </tbody>
  </table>

  <p>Please note that any collections must be picked up from our store at Vikingagatan 18 at the allocated time.</p>

  <%- include('./partials/emailSignature') %>
</body>
</html>